.block{
    width: 100%;
    height: 20%;
    position: fixed;
    display: block;
    margin-top: -0.6%;
    margin-left: -0.6%;
    z-index: 1;
}


.sousblock1{
    height: 50%;
    background-color: rgb(0,0,0);
}


.sousblock2{
    height: 50%;
    background-color: rgb(60,60,60);
    text-align: center;
    opacity: 0.8;
}


.imagesite{
    height: 90%;
    vertical-align: middle;
}


.clic1 {
    background-color: rgb(0,0,0);
    border: solid white 2px;
    border-radius: 10px;
    color: white;
    padding: 1.8vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: 1.4vh 0.5vw;
    cursor: pointer;
}


.clic2 {
    background-color: rgb(60,60,60);
    border: solid white 1px;
    border-radius: 10px;
    color: white;
    padding: 1.8vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: 1.4vh 0.5vw;
    cursor: pointer;
}


.element{
    float: right;
}


.lienpseudo{
    color: white;
}


.button {
    background-color: rgb(0,0,0);
    border: solid white 2px;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 4px;
    cursor: pointer;
}


.button2 {
    background-color: rgb(60,60,60);
    border: solid white 1px;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 8px;
    cursor: pointer;
}


footer{
    position: relative;
    background-color: rgb(0,0,0);
    opacity: 0.8;
    color:white;
    text-align: center;
    border-radius: 10px;
    margin-left: -8px;
    margin-right: -8px;
    font-size: 14px;
    z-index: 1;
}


footer a{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}


footer h3{
    font-size: 20px;
}


.bas{
    position: relative;
    display: inline-block;
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
    height: 140px;
    vertical-align: top;
}


.espace{
    width: 0.5%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: rgb(255,255,255);
}


.lienfootercompany{
    display: block;
}


.rsociaux{
    display: inline-block;
    height: 40px;
    width: 40px;
}


.mail{
    background-image: url('Images/mailnb.png');
    background-size: 100%;
}


.mail:hover{
    background-image: url('Images/mail.png');
}


.fb{
    background-image: url('Images/fbnb1.png');
    background-size: 100%;
}


.fb:hover{
    background-image: url('Images/fb1.png');
}


.twitter{
    background-image: url('Images/twitternb.png');
    background-size: 100%;
}


.twitter:hover{
    background-image: url('Images/twitter.png');
}


.linkedin{
    background-image: url('Images/linkedinnb.png');
    background-size: 100%;
}


.linkedin:hover{
    background-image: url('Images/linkedin.png');
}