body {
	background-image : url('Images/terrainfoot.jpg');
	background-size: 1280px 600px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color : black;
	/*background-color: rgb(60,60,60);*/
	font-family : "Verdana", cursive, sans-serif;
}


a{
	color:white;
	text-decoration: none;
}

a:hover{
	color: grey;
}


.ligne1{
	display: inline-block;
	margin-top: 200px;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}


.ligne2{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}


.ligne3{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}


.ligne4{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}


.ligne5{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 50px;
	width: 100%;
	text-align: center;
}


.clubfoot{
    border: solid black 3px;
    border-radius: 10px;
    color: orange;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 2%;
    margin-left: 2%;
    height: 30px;
    width: 5%;
}


.clubfoot:hover{
	color:blue;
}


.psg{
	background-image: url('Images/clubfoot/PSG.png');
	background-size:100% 100%;
}


.psg:hover{
	background-image: url('Images/foot.jpg');
	background-size:100% 100%;
}