body
{
	background-image : url('Images/course.jpeg');
	background-size: 1280px 600px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
	color : black;
	font-family : "Verdana", cursive, sans-serif;
}


.corps{
	margin-left: 50px;
	margin-right: 50px;
}


a{
	color: black;
	text-decoration: none;
}


a:hover{
	color: grey;
}


input{
	border-radius: 6px;
}


.test{
	margin-left: 50px;
}


label{
	width: 150px;
	display: inline-block;
	float:left;
}


.ligne1{
	display: inline-block;
	margin-top: 200px;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}


.ligne2{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}


.ligne3{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}


.ligne4{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 50px;
	width: 100%;
	text-align: center;
}


.sportaccueil{
    border: solid black 3px;
    border-radius: 10px;
    color: orange;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5%;
    margin-left: 5%;
    height: 30px;
    width: 10%;
}


.sportaccueil:hover{
	color:blue;
}


.foot{
	background-image: url('Images/footnb.jpg');
	background-size:100% 100%;
}


.foot:hover{
	background-image: url('Images/foot.jpg');
	background-size:100% 100%;
}


.basket{
	background-image: url('Images/basketnb.jpg');
	background-size:100% 100%;
}


.basket:hover{
	background-image: url('Images/basket.jpg');
	background-size:100% 100%;
}


.rugby{
	background-image: url('Images/rugbynb.jpg');
	background-size:100% 100%;
}


.rugby:hover{
	background-image: url('Images/rugby.jpg');
	background-size:100% 100%;
}


.tennis{
	background-image: url('Images/tennisnb.jpg');
	background-size:100% 100%;
}


.tennis:hover{
	background-image: url('Images/tennis.jpg');
	background-size:100% 100%;
}


.badminton{
	background-image: url('Images/badmintonnb.jpg');
	background-size:100% 100%;
}


.badminton:hover{
	background-image: url('Images/badminton.jpg');
	background-size:100% 100%;
}


.pingpong{
	background-image: url('Images/pingpongnb.jpg');
	background-size:100% 100%;
}


.pingpong:hover{
	background-image: url('Images/pingpong.jpg');
	background-size:100% 100%;
}


.inscription{
	margin-top: 100px;
}


.faq{
	color: black;
	display: inline-block;
	margin-top: 200px;
}


.formulaire{
	display: inline-block;
}


.coordonnees{
	margin-top: 100px;
}

